# Dependencies
node_modules/

# Angular build output
dist/
.angular/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Logs
*.log
npm-debug.log*
